*.gpg
common/.vim/.netrwhist
common/.vim/pack
common/.vim/spell/en.utf-8.spl
common/.vim/spell/en.utf-8.sug
desktop/.atom/.apm
desktop/.atom/.node-gyp
desktop/.atom/.npm
desktop/.atom/blob-store
desktop/.atom/compile-cache
desktop/.atom/dev
desktop/.atom/packages
desktop/.atom/recovery
desktop/.atom/split-diff
desktop/.atom/storage
