sourceDir = "{{ .chezmoi.homeDir }}/Code/src/github.com/jbhannah/dotfiles"

{{- if eq .chezmoi.hostname "Meowscarada" }}
encryption = "gpg"

[gpg]
recipient = "jesse@jbhannah.net"

[pinentry]
command = "pinentry-mac"
{{- end }}

[git]
autoAdd = true
