"*":
  "atom-package-deps":
    ignored: [
      "linter-elixirc"
    ]
  "atom-ternjs":
    lint: true
    snippetsFirst: true
    useSnippets: true
  "autocomplete-plus":
    enableBuiltinProvider: false
    suppressActivationForEditorClasses: [
      "vim-mode-plus.normal-mode"
      "vim-mode-plus.visual-mode"
      "vim-mode-plus.operator-pending-mode"
      "vim-mode-plus.insert-mode.replace"
    ]
  "autocomplete-python":
    useKite: false
    useSnippets: "all"
  "autocomplete-ruby":
    suggestionPriority: true
  autosave:
    enabled: true
  core:
    closeDeletedFileTabs: true
    disabledPackages: [
      "welcome"
      "metrics"
    ]
    openEmptyEditorOnStart: false
    packagesWithKeymapsDisabled: [
      "highlight-line"
    ]
    projectHome: "~/Code/src/github.com/jbhannah"
    telemetryConsent: "limited"
  editor:
    backUpBeforeSaving: true
    fontFamily: "Hack"
    fontSize: 12
    invisibles: {}
    scrollPastEnd: true
    showIndentGuide: true
    showInvisibles: true
  "exception-reporting":
    userId: "688efa6f-1275-312c-2dfc-b7cfa19831e1"
  "fuzzy-finder": {}
  "git-plus":
    experimental:
      useSplitDiff: true
    pullBeforePush: "pull --rebase"
    remoteInteractions:
      pullRebase: true
    splitPane: "Down"
    tags:
      signTags: true
  github:
    viewChangesForCurrentFileDiffPaneSplitDirection: "right"
  "go-plus":
    panel: {}
    panelDisplayMode: "closed"
  "highlight-line": {}
  "ide-rust": {}
  "linter-eslint": {}
  "linter-rubocop":
    disableWhenNoConfigFile: true
  "linter-ruby": {}
  "linter-slim": {}
  minimap:
    displayPluginsControls: false
    plugins:
      "git-diff": true
  "package-generator":
    createInDevMode: true
    packageSyntax: "coffeescript"
  "package-sync":
    createOnChange: true
    forceOverwrite: true
  pigments: {}
  "ruby-test":
    specFramework: "rspec"
    testFramework: "minitest"
  "split-diff":
    ignoreWhitespace: true
    syncHorizontalScroll: true
  "status-bar": {}
  tabs:
    enableVcsColoring: true
    usePreviewTabs: true
  "tree-view": {}
  "vim-mode-plus":
    charactersToAddSpaceOnSurround: [
      "("
      "{"
      "["
      "<"
    ]
    clearMultipleCursorsOnEscapeInsertMode: true
    incrementalSearch: true
    keymapPToPutWithAutoIndent: true
  welcome:
    showOnStartup: false
  whitespace:
    ignoreWhitespaceOnCurrentLine: false
".haml.text":
  editor:
    autoIndentOnPaste: true
".html.php.text":
  editor:
    tabLength: 4
".java.source":
  editor:
    tabLength: 4
