"*":
  "atom-ternjs":
    lint: true
    snippetsFirst: true
    useSnippets: true
  "autocomplete-plus":
    enableBuiltinProvider: false
    suppressActivationForEditorClasses: [
      "vim-mode-plus.normal-mode"
      "vim-mode-plus.visual-mode"
      "vim-mode-plus.operator-pending-mode"
      "vim-mode-plus.insert-mode.replace"
    ]
  "autocomplete-ruby":
    suggestionPriority: true
  autosave:
    enabled: true
  core:
    closeDeletedFileTabs: true
    disabledPackages: [
      "welcome"
      "metrics"
      "linter-haml"
    ]
    openEmptyEditorOnStart: false
    packagesWithKeymapsDisabled: [
      "highlight-line"
    ]
    projectHome: "~/Code/src/github.com/jbhannah"
    telemetryConsent: "limited"
    themes: [
      "one-dark-ui"
      "solarized-dark-syntax"
    ]
  editor:
    backUpBeforeSaving: true
    fontFamily: "Hack"
    fontSize: 12
    invisibles: {}
    scrollPastEnd: true
    showIndentGuide: true
  "exception-reporting":
    userId: "688efa6f-1275-312c-2dfc-b7cfa19831e1"
  "fuzzy-finder": {}
  "git-plus":
    pullBeforePush: "pull --rebase"
    splitPane: "Down"
  "go-plus":
    panel: {}
    panelDisplayMode: "closed"
  "highlight-line": {}
  kite:
    showKiteTourOnStatup: false
  linter: {}
  "linter-eslint": {}
  "linter-ruby": {}
  "linter-slim": {}
  "linter-ui-default":
    panelHeight: 114
  minimap:
    displayPluginsControls: false
    plugins:
      "git-diff": true
  "package-generator":
    createInDevMode: true
    packageSyntax: "coffeescript"
  "package-sync":
    createOnChange: true
    forceOverwrite: true
  pigments: {}
  react: {}
  "ruby-test": {}
  "status-bar": {}
  tabs:
    enableVcsColoring: true
    usePreviewTabs: true
  "tree-view": {}
  "vim-mode": {}
  "vim-mode-plus":
    charactersToAddSpaceOnSurround: [
      "("
      "{"
      "["
      "<"
    ]
    clearMultipleCursorsOnEscapeInsertMode: true
    incrementalSearch: true
    keymapPToPutWithAutoIndent: true
  "vim-surround":
    surroundCommand: "S"
  welcome:
    showOnStartup: false
".html.php.text":
  editor:
    tabLength: 4
