packages: [
  "atom-build-yarn"
  "atom-elixir"
  "atom-ide-ui"
  "atom-maven"
  "autocomplete-modules"
  "autocomplete-nunjucks"
  "autocomplete-ruby"
  "blame"
  "bracket-padder"
  "build"
  "build-cargo"
  "build-gradle"
  "build-gulp"
  "build-make"
  "build-npm-apm"
  "busy"
  "busy-signal"
  "dbg"
  "dbg-gdb"
  "docker"
  "ex-mode"
  "file-icons"
  "file-types"
  "git-plus"
  "gitignore-snippets"
  "go-debug"
  "go-plus"
  "go-signature-statusbar"
  "highlight-line"
  "highlight-selected"
  "Hydrogen"
  "hydrogen-launcher"
  "ide-cpp"
  "ide-go"
  "ide-java"
  "ide-python"
  "ide-rust"
  "ide-typescript"
  "ide-vue"
  "intentions"
  "language-babel"
  "language-docker"
  "language-elixir"
  "language-emacs-lisp"
  "language-gherkin"
  "language-gradle"
  "language-graphql"
  "language-groovy"
  "language-haml"
  "language-latex"
  "language-nunjucks"
  "language-rust"
  "language-slim"
  "language-viml"
  "language-vue"
  "latex-autocomplete"
  "linter-coffeelint"
  "linter-elixirc"
  "linter-erb"
  "linter-eslint"
  "linter-haml"
  "linter-reek"
  "linter-rubocop"
  "linter-ruby"
  "linter-rust"
  "linter-slim"
  "merge-conflicts"
  "minimap"
  "minimap-git-diff"
  "minimap-linter"
  "minimap-split-diff"
  "output-panel"
  "package-sync"
  "pain-split"
  "pigments"
  "pretty-json"
  "ruby-test"
  "rustfmt"
  "script"
  "set-syntax"
  "sort-lines"
  "split-diff"
  "vim-mode-plus"
  "vim-mode-plus-keymaps-for-surround"
]
