packages: [
  "atom-build-yarn"
  "atom-ternjs"
  "atom-typescript"
  "autocomplete-modules"
  "autocomplete-nunjucks"
  "autocomplete-python"
  "autocomplete-ruby"
  "blame"
  "build"
  "build-gulp"
  "build-npm-apm"
  "busy"
  "busy-signal"
  "ex-mode"
  "file-icons"
  "git-plus"
  "go-debug"
  "go-plus"
  "go-signature-statusbar"
  "highlight-line"
  "highlight-selected"
  "hyperclick"
  "intentions"
  "kite"
  "language-docker"
  "language-gherkin"
  "language-haml"
  "language-latex"
  "language-nunjucks"
  "language-slim"
  "language-viml"
  "linter"
  "linter-coffeelint"
  "linter-erb"
  "linter-eslint"
  "linter-haml"
  "linter-ruby"
  "linter-slim"
  "linter-ui-default"
  "merge-conflicts"
  "minimap"
  "minimap-git-diff"
  "minimap-linter"
  "package-sync"
  "pain-split"
  "pigments"
  "pretty-json"
  "react"
  "ruby-test"
  "script"
  "set-syntax"
  "sort-lines"
  "vim-mode-plus"
  "vim-mode-plus-keymaps-for-surround"
  "vim-mode-transpose"
]
