alias crap='$(thefuck $(fc -ln -1))'
command -v hub > /dev/null 2>&1 && alias git=hub
alias l="ls -alh"

# Docker
alias dps="docker ps -a"
alias dco="docker-compose"
alias dcr="docker-compose run --rm"
alias dcu="docker-compose up"
alias dcd="docker-compose down"

# jrnl
alias j="jrnl"
alias jt="j -on today"
alias jy="j -on yesterday"
alias jx="j --export text"
alias jxy="jx -on yesterday -o $(date -v -1d '+%Y-%m-%d').txt"
alias jxf="jx -on friday -o $(date -v -3d '+%Y-%m-%d').txt"

# Python
alias pylint="python3 -m pylint"
