alias crap='$(thefuck $(fc -ln -1))'
command -v hub > /dev/null 2>&1 && alias git=hub
alias l="ls -alh"

# Docker
alias dps="docker ps -a"
alias dco="docker-compose"
alias dcr="docker-compose run --rm"
alias dcu="docker-compose up"
alias dcd="docker-compose down"

drpwd() {
    docker run --rm -it -v `pwd`:`pwd` -w `pwd` "$@"
}

# jrnl
alias j="jrnl"
alias jt="j -on today"
alias jy="j -on yesterday"
alias jx="j --export text"
alias jxy="date -v -1d '+%Y-%m-%d' | xargs -I % jrnl --export text -on % -o %.txt"
alias jxf="date -v -3d '+%Y-%m-%d' | xargs -I % jrnl --export text -on % -o %.txt"

# Python
alias pylint="python3 -m pylint"
