[user]
	name = Jesse B. Hannah
	email = jesse@jbhannah.net
	signingkey = 5B05644A
[core]
	autocrlf = input
	excludesfile = ~/.gitignore.local
	pager = delta --highlight-removed
[push]
	default = simple
[credential]
	helper = osxkeychain
[color "branch"]
	current = yellow reverse
	local = yellow
	remote = green
[color "diff"]
	meta = yellow bold
	frag = magenta bold
	old = red bold
	new = green bold
[color "status"]
	added = yellow
	changed = green
	untracked = cyan
[filter "hawser"]
	clean = git hawser clean %f
	smudge = git hawser smudge %f
	required = true
[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true
[filter "media"]
	clean = git media clean %f
	smudge = git media smudge %f
	required = true
[commit]
	gpgSign = true
[diff]
	compactionHeuristic = true
[hub]
	protocol = https
[github]
	user = jbhannah
[alias]
	switch = !legit switch
	sync = !legit sync
	publish = !legit publish
	unpublish = !legit unpublish
	undo = !legit undo
	branches = !legit branches
[magithub]
	online = true
[magithub "status"]
	includeStatusHeader = false
	includePullRequestsSection = true
	includeIssuesSection = true
[gpg]
	program = /usr/local/MacGPG2/bin/gpg2
[tag]
	forceSignAnnotated = true
[include]
	path = .gitconfig.local
[fetch]
	prune = true
