"*":
  editor:
    fontSize: 12
    invisibles: {}
    scrollPastEnd: true
    showIndentGuide: true
  core:
    themes: [
      "one-dark-ui"
      "base16-tomorrow-dark-theme"
    ]
  "exception-reporting":
    userId: "688efa6f-1275-312c-2dfc-b7cfa19831e1"
  welcome:
    showOnStartup: false
  minimap:
    plugins:
      "git-diff": true
    displayPluginsControls: false
  "git-plus": {}
  "tree-view": {}
  "vim-mode": {}
  "vim-surround": {}
  linter: {}
  autosave:
    enabled: true
  "linter-jshint":
    lintInlineJavaScript: true
  tabs:
    enableVcsColoring: true
    usePreviewTabs: true
