"*":
  editor:
    fontSize: 12
    invisibles: {}
    scrollPastEnd: true
    showIndentGuide: true
    fontFamily: "Hack"
    backUpBeforeSaving: true
  core:
    themes: [
      "one-dark-ui"
      "base16-tomorrow-dark-theme"
    ]
    disabledPackages: [
      "welcome"
      "styleguide"
      "update-package-dependencies"
      "package-generator"
    ]
    projectHome: "~/Code/jbhannah"
    packagesWithKeymapsDisabled: [
      "highlight-line"
    ]
  "exception-reporting":
    userId: "688efa6f-1275-312c-2dfc-b7cfa19831e1"
  welcome:
    showOnStartup: false
  minimap:
    plugins:
      "git-diff": true
    displayPluginsControls: false
  "git-plus": {}
  "tree-view": {}
  "vim-mode": {}
  "vim-surround": {}
  linter:
    gutterPosition: "Left"
  autosave:
    enabled: true
  "linter-jshint":
    lintInlineJavaScript: true
  tabs:
    enableVcsColoring: true
    usePreviewTabs: true
  "atom-ternjs": {}
  "linter-ruby": {}
  "autocomplete-plus": {}
  pigments: {}
  "fuzzy-finder": {}
  "status-bar": {}
  "linter-slim": {}
  "highlight-line": {}
