"*":
  "atom-ternjs": {}
  "autocomplete-plus": {}
  autosave:
    enabled: true
  core:
    disabledPackages: [
      "welcome"
      "styleguide"
      "update-package-dependencies"
      "package-generator"
    ]
    packagesWithKeymapsDisabled: [
      "highlight-line"
    ]
    projectHome: "~/Code/jbhannah"
    themes: [
      "one-dark-ui"
      "base16-tomorrow-dark-theme"
    ]
  editor:
    backUpBeforeSaving: true
    fontFamily: "Hack"
    fontSize: 12
    invisibles: {}
    scrollPastEnd: true
    showIndentGuide: true
  "exception-reporting":
    userId: "688efa6f-1275-312c-2dfc-b7cfa19831e1"
  "fuzzy-finder": {}
  "git-plus": {}
  "highlight-line": {}
  linter:
    gutterPosition: "Left"
  "linter-eslint":
    useGlobalEslint: true
  "linter-ruby": {}
  "linter-slim": {}
  minimap:
    displayPluginsControls: false
    plugins:
      "git-diff": true
  "package-sync":
    forceOverwrite: true
  pigments: {}
  react: {}
  "status-bar": {}
  tabs:
    enableVcsColoring: true
    usePreviewTabs: true
  "tree-view": {}
  "vim-mode": {}
  "vim-surround":
    surroundCommand: "S"
  welcome:
    showOnStartup: false
".html.php.text":
  editor:
    tabLength: 4
