packages: [
  "atom-ternjs"
  "autocomplete-go"
  "build"
  "build-gulp"
  "build-npm-apm"
  "builder-go"
  "ex-mode"
  "file-icons"
  "git-plus"
  "go-config"
  "go-get"
  "go-plus"
  "gofmt"
  "gometalinter-linter"
  "gorename"
  "highlight-line"
  "language-docker"
  "language-latex"
  "language-nunjucks"
  "language-slim"
  "language-viml"
  "linter"
  "linter-coffeelint"
  "linter-eslint"
  "linter-ruby"
  "linter-slim"
  "merge-conflicts"
  "minimap"
  "minimap-git-diff"
  "minimap-linter"
  "navigator-godef"
  "package-sync"
  "pain-split"
  "pigments"
  "pretty-json"
  "react"
  "script"
  "sort-lines"
  "tester-go"
  "vim-mode"
  "vim-mode-visual-block"
  "vim-surround"
]
