set -Ux LANG $LC_ALL

{{- if eq .chezmoi.os "darwin" }}
set -Ux TZ (readlink /etc/localtime | string split '/' | tail -n 2 | string join '/')

{{- if eq .chezmoi.arch "arm64" }}
if test -d /opt/homebrew
    fish_add_path $HOMEBREW_PREFIX/bin $HOMEBREW_PREFIX/sbin
    set -Ux HOMEBREW_PREFIX /opt/homebrew
    set -Ux HOMEBREW_CELLAR $HOMEBREW_PREFIX/Cellar
    set -Ux HOMEBREW_REPOSITORY $HOMEBREW_PREFIX
    set -Upx MANPATH $HOMEBREW_PREFIX/share/man
    set -Upx INFOPATH $HOMEBREW_PREFIX/share/info
end
{{- end }}
{{- end }}

if command -sq nvim
    set -gx EDITOR nvim
else
    set -gx EDITOR vi
end

set -gx VISUAL $EDITOR
